# DSC 540 - Week 9 & 10 - Milestone 4

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import urllib.request, urllib.parse, urllib.error
import requests
import json

In [3]:
# Import name of cities from housing data set
zillow_df = pd.read_csv('HistoricalSingleHomeValues_Zillow2000to24.csv')

In [4]:
# Drop unnecessary columns
zillow_df = zillow_df.drop(['RegionType','StateName'], axis=1)

In [5]:
# Round all values
zillow_df.iloc[:,6:] = zillow_df.iloc[:,6:].round()

In [6]:
# Extract first 100 rows due to API monthly limitations
zillow_df2 = zillow_df.head(100)

In [7]:
# Extract unique cities and add them to list
cities_list = zillow_df2['RegionName'].unique()

In [3]:
zillow_df = pd.read_csv('FINAL_ZillowCSV.csv')

In [5]:
cities_list = zillow_df['RegionName'].unique()

In [7]:
# Open json file that has API key
with open('APIKeys.json') as f:
    keys = json.load(f)
    omdbapi = keys['OMDBapi']

In [ ]:
# Create list to store city data
all_city_data2 = []

# Loop through cities_list
for city in cities_list:
    # Assign website to variable, limit search to US cities
    api_url = f'https://api.api-ninjas.com/v1/city?name={city}&country=us'
    
    # Make API request
    response = requests.get(api_url, headers={'X-Api-Key': omdbapi})
    
    if response.status_code == requests.codes.ok:
        # Convert to JSON object and append to list
        city_data = response.json()
        all_city_data2.append(city_data)
    else:
        print(f"Error with city {city}: {response.status_code}, {response.text}")

In [ ]:
# Merge all data within one JSON file
with open('all_city_data.json', 'w') as outfile:
    json.dump(all_city_data, outfile, indent=4)

In [3]:
# Open json file
with open('all_city_data.json', 'r') as file:
    city_data = json.load(file)

In [5]:
print(city_data[:2])

[[{'name': 'New York', 'latitude': 40.6943, 'longitude': -73.9249, 'country': 'US', 'population': 18713220, 'region': 'New York', 'is_capital': False}], [{'name': 'Los Angeles', 'latitude': 34.1139, 'longitude': -118.407, 'country': 'US', 'population': 12750807, 'region': 'California', 'is_capital': False}]]

In [9]:
num_cities = len(city_data)
print(f"Number of cities: {num_cities}")

Number of cities: 100

### Transformation 1

In [11]:
# Convert the list of dictionaries into a DataFrame
cities_df = pd.DataFrame(city_data)

# Divide dictionary into different columns
cities_df = cities_df[0].apply(pd.Series)

### Transformation 2

In [13]:
# Drop unnecessary columns
cities_df = cities_df.drop('country', axis=1)

### Transformation 3

In [15]:
# Change column names
cities_df.columns = ['RegionName2', 'Lat','Lon','Population','State','IsCapital?']

### Transformation 4

In [17]:
# Round 'Lat' and 'Lon" columns
cities_df['Lat'].round(2)
cities_df['Lon'].round(2)

0     -73.92
1    -118.41
2     -95.39
3     -87.69
4     -98.53
       ...
95   -117.02
96   -116.23
97    -77.48
98   -111.75
99    -80.26
Name: Lon, Length: 100, dtype: float64

### Transformation 5

In [19]:
# Convert NaN and non numeric values into 0
cities_df['Population'] = pd.to_numeric(cities_df['Population'], errors='coerce')
cities_df['Population'].fillna(0, inplace=True)

# Convert population column into integers
cities_df['Population'] = cities_df['Population'].astype(int)

### Show Outcome

In [21]:
cities_df

      RegionName2      Lat       Lon  Population           State IsCapital?
0        New York  40.6943  -73.9249    18713220        New York      False
1     Los Angeles  34.1139 -118.4070    12750807      California      False
2         Houston  29.7863  -95.3889     5464251           Texas      False
3         Chicago  41.8373  -87.6862     8604203        Illinois      False
4     San Antonio  29.4658  -98.5253     2049293           Texas      False
..            ...      ...       ...         ...             ...        ...
95    Chula Vista  32.6281 -117.0150      274492      California      False
96          Boise  43.6007 -116.2310      389280           Idaho      False
97       Richmond  37.5295  -77.4756     1075798        Virginia      False
98        Gilbert  33.3101 -111.7460      254114         Arizona      False
99  Winston-Salem  36.1029  -80.2611      422269  North Carolina      False

[100 rows x 6 columns]

In [23]:
cities_df.to_csv('FINAL_CitiesInfoAPI.csv', index=False)

### Conclusion

Non ethical concerns are noted in this exercise as all the data was obtained legally, it is being used for academical purposes, and it is not being used for personal gain. The data was not altered in any form and it is not expected to affect the integrity of the final project. The data source is believed to be updated and reliable.