# DSC 540 - Milestone 3

In [4]:
import pandas as pd
import numpy as np
import yfinance as yf

In [5]:
# Import S&P 500 historical data from Yahoo
# Define ticker symbol
ticker_symbol = "^GSPC"

# Download the data
sp500_df = yf.download(ticker_symbol, start='2000-01-01', end='2024-09-01', interval='1mo')

[*********************100%***********************]  1 of 1 completed

In [6]:
# Reset Date column so it becoems a column and not the index
sp500_df = sp500_df.reset_index()

In [7]:
# Transform date column into datetime format
sp500_df['Date'] = pd.to_datetime(sp500_df['Date'])

In [8]:
# Transform values into integers
sp500_df[['Open', 'High', 'Low', 'Close', 
          'Adj Close']] = sp500_df[['Open', 'High', 'Low', 'Close', 
                                              'Adj Close']].astype(int)

In [9]:
# Transform all dates into the first day of the current month
sp500_df['Date'] = (sp500_df['Date'].values.astype('datetime64[M]'))

# Subtract one day from all dates so all dates equal the last day of the previous month.
sp500_df['Date'] = sp500_df['Date'] - pd.DateOffset(days=1)

In [10]:
# Drop all columns but Date and Open
sp500_df = sp500_df.drop(['High', 'Low', 'Close', 'Adj Close', 'Volume'], axis=1)

In [11]:
# Print dataset
sp500_df

          Date  Open
0   1999-12-31  1469
1   2000-01-31  1394
2   2000-02-29  1366
3   2000-03-31  1498
4   2000-04-30  1452
..         ...   ...
291 2024-03-31  5257
292 2024-04-30  5029
293 2024-05-31  5297
294 2024-06-30  5471
295 2024-07-31  5537

[296 rows x 2 columns]

In [24]:
sp500_df.to_csv('FINAL_sp500HTML.csv',index=False)

### Conclusion

Most of the changes made to this data set were related to the format, to make the data set easier to read. The most significant change made to this data set was the change of dates in the 'Date' column. This was made so this data set matches the formatting and timing of the housing data set that is being used for this project. The data set was obtained legally and there are no ethical concerns regarding the use of this data as is being used for academic purposes.